.message-container {

    .message-header {
        h4 {
            line-height: 30px;
        }
    }

    .btn-circle {
        background: transparent;
        border: 2px solid;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        padding: 0;

        &:hover, &:focus {
            background: $color-green;
            color: $color-white;
            border: $color-green;
        }
    }

    .btn-absolute {
        position: absolute;
        right: 0;
        top: 5px;
    }

    .dropdown-header {
        padding: 3px 15px;
    }

    .dropdown-messages {
        width: 400px;
    }

    .messages-items-holder {
        position: relative;
        max-height: 282px;
        overflow: hidden;

        .notification-time {
            display: inline-block;
            color: $color-text;
        }

        > .item {
            position: relative;
            border-top: 1px solid #eaedf1;

            &:hover {
                background: #eaedf1;
                @include transition(all, 0.2s, ease-in-out);
            }

            &:first-child {
                border-top: 0;
            }
        }

        &:not(.divider) {
            padding: 5px 15px;
            font-size: 11px;
        }
    }

    .message-left-side,
    .notification-description {
        width: 50%;
        float: left;
    }

    .notification-item .notification-content {
        width: 100%;

        &:after {
            @extend %clearfix;
        }
    }

    .notification-image {

        width: 30px;
        height: 30px;
        display: inline-block;
        overflow: hidden;
        position: relative;
        border-radius: 50%;
        border: 1px solid #ebebeb;
        z-index: 1;
        vertical-align: top;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .message-left-side-info {
        display: inline-block;
        padding-left: 5px;
        vertical-align: bottom;
    }

    .sender-name {
        margin: 0;
        font-size: 12px;
        font-weight: bold;
    }
}